* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    background: url('https://images.unsplash.com/photo-1476553986076-d59060d397e4?q=80&w=1216&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
}

.container {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SmartCalc {
    color: #ffffffcc;
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.SmartCalc img {
    margin-right: 10px;
}

.calculator {
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.calculator form input {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin: 10px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}

.main {
    width: 93% !important;
}

.calculator form input:hover {
    background: rgba(255, 255, 255, 0.3);
}

.display input {
    flex: 1;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.equal {
    width: 145px !important;
    background-color: #0ff;
    color: #000 !important;
    font-weight: bold;
}

.operators {
    color: #0ff;
}
