*{
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background:black;
    border: 6px solid aqua;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0px;
    outline: 0px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -4px -2px 11px white,5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
    color: aqua;
}
form input.operators{
    color: aqua;
}